h1 = Event.human_attribute_name(:followers)

= render 'events/strip', event: @event, user: @user

= render 'users/cards', users: @event.followers, card_cloud: true

h2 = Event.model_name.human

= render 'events/table', event: @event
