@mixin button {
  @include reset--font;
  display: inline-block;
  background: $primary_bg;
  margin-right: 1em;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 2em;
  color: $primary_text;
  &:hover {
    background: $primary_bg-light;
    color: $primary_text-lighter;
  }
  &.-positive {
    @include --button-positive;
  }
  &.-negative {
    @include --button-negative;
  }
  &.-external {
    @include --button-external;
  }
  &.-selected {
    @include --button-external;
  }
  &.-disabled {
    @include --button-external;
  }
}

@mixin button--positive {
  @include button;
  @include --button-positive;
}

@mixin button--negative {
  @include button;
  @include --button-negative;
}

@mixin button--external {
  @include button;
  @include --button-external;
}

@mixin button--selected {
  @include button;
  @include --button-selected;
}

@mixin button--disabled {
  @include button;
  @include --button-disabled;
}

@mixin button--roundbox {
  @include button;
  @include --button-roundbox;
}

@mixin --button-positive {
  background: $positive_bg-light;
  color: $positive_text;
  &:hover {
    background: $positive_bg-lighter;
    color: $positive_text-lighter;
  }
}

@mixin --button-negative {
  background: $negative_bg-light;
  color: $negative_text;
  &:hover {
    background: $negative_bg-lighter;
    color: $negative_text-lighter;
  }
}

@mixin --button-external {
  background: $external_bg;
  color: $external_text;
  &:hover {
    background: $external_bg-light;
    color: $external_text-lighter;
  }
}

@mixin --button-selected {
  background: $primary_bg-light;
  color: $primary_text-lighter;
  &:hover {
    background: $primary_bg-light;
    color: $primary_text-lighter;
  }
}

@mixin --button-disabled {
  background: $disabled_bg;
  color: $disabled_text;
  &:hover {
    background: $disabled_bg;
    color: $disabled_text;
  }
}

@mixin --button-roundbox {
  box-sizing: border-box;
  background: $fill-light;
  border: $primary_bg-dark solid 1px;
  margin-right: 1rem;
  &:hover {
    background: $fill-lighter;
    color: inherit;
  }
}
