@mixin cards--card_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0.5rem;
}

@mixin cards--card_cloud {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
}

@mixin card {
  @include roundbox--medium;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: last baseline;
}

@mixin card__title {
  color: $primary_text-darker;
  text-decoration: none;
  &:hover {
    color: $primary_text;
    text-decoration: underline;
  }
}

@mixin card__text_link {
  color: $primary_text;
  text-decoration: none;
  &:hover {
    color: $primary_text-lighter;
    text-decoration: underline;
  }
}
