.editor_fields {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.8em;
  .editor_field {
    display: inline-block;
    font-size: $font-size-small;
    color: $text-lighter;
    label, span.editor {
      margin: 0em 0.4em;
      min-height: 2.5em;
    }
    span.date {
      min-height: 2.5em;
      padding: 0.5em 1.5em;
      border-radius: 2em;
      border: $primary_bg solid 1px;
      background: $fill-light;
    }
  }
}
