.editor_fields {
  display: flex;
  gap: 0.8rem;
  justify-content: flex-end;
  padding-top: 0.8em;
  .editor_field {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    font-size: $font-size-small;
    color: $text-lighter;
    span.date {
      min-height: 2.5em;
      padding: 0.5em 1.5em;
      border-radius: 2em;
      border: $primary_bg-dark solid 1px;
      background: $fill-light;
    }
  }
}
