@mixin icon {
  width: 16px;
  height: 16px;
  vertical-align: -1em;

  &.-small {
    width: 32px;
    height: 32px;
  }

  &.-medium {
    width: 48px;
    height: 48px;
  }

  &.-large {
    width: 64px;
    height: 64px;
  }
}
