@mixin keyvaluetable {
  @include panel--roundbox;
}

@mixin keyvaluetable__keyvalue {
  margin: 1rem 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@mixin keyvaluetable__key {
  display: inline-block;
  width: 200px;
  flex-shrink: 0;
  padding-right: 1rem;
  text-align: right;
  vertical-align: middle;
}

@mixin keyvaluetable__value {
  display: inline-block;
  vertical-align: middle;
  word-break: break-all;
  width: 400px;
  min-height: 2.5em;
  padding: 0.5em 1.5em;
  border-radius: 2em;
  border: $primary_bg-dark solid 1px;
  background: $fill-light;
  &:hover {
    background: $fill-lighter;
  }
}

@mixin keyvaluetable__relation {
  display: inline-block;
  vertical-align: middle;
  min-height: 2.5em;
}

@mixin keyvaluetable__error_message {
  font-size: $font-size-small;
  color: $negative_text;
  padding-left: 200px;
  flex: 0 0 100%;
}
