@mixin strip {
  @include panel--roundbox;
}

@mixin strip__title {
  color: $primary_text-darker;
  text-decoration: none;
  &:hover {
    color: $primary_text;
    text-decoration: underline;
  }
}
