@mixin strip {
  @include panel--roundbox;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@mixin strip__title {
  color: $primary_text-darker;
  text-decoration: none;
  &:hover {
    color: $primary_text;
    text-decoration: underline;
  }
}
