h1 = 'マイページ'

= render 'my/user_strip', user: @user

= render 'users/event_filter', form: @form

h2 = User.human_attribute_name(@form.events_field)

.panel
  = render 'events/cards', events: @events, card_cloud: true
.panel
  = paginate @events

.panel
  = link_to "新規#{Event.model_name.human}", new_event_path, class: 'button'

- set_meta_title_for(User.human_attribute_name(@form.events_field))
