h1 = "#{EventHistory.model_name.human}を編集する"

= render 'events/strip', event: @event, user: @user

= render 'form', event: @event, event_history: @event_history

.panel
  = link_to '戻る', [@event, @event_history], class: 'button'
