h1 = EventHistory.model_name.human

= render 'events/strip', event: @event, user: @user

= render 'event_histories/cards', event: @event, event_histories: @event_histories, edit: false
= paginate @event_histories

= link_to 'New', new_event_event_history_path(@event), class: 'button'
