h1 = "#{EventHistory.model_name.human}を新しく登録する"

= render 'events/strip', event: @event, user: @user

= render 'form', event: @event, event_history: @event_history

.panel.actions
  = link_to '戻る', event_path(@event), class: 'button'
