.account.-table {
  @include keyvaluetable;
  .field {
    @include keyvaluetable__keyvalue;
    label {
      @include keyvaluetable__key;
    }
    .value {
      @include keyvaluetable__value;
    }
    .relation {
      @include keyvaluetable__relation;
    }
  }
}

.account.-strip {
  @include strip;
  .email {
    display: inline;
    color: $text-lighter;
  }
  .display_name {
    display: inline;
    font-size: $font-size-large;
  }
}

.account.-card {
  @include panel;
  .display_name {
    @include card__title;
    font-size: $font-size-large;
  }
}

.accounts.-card_list {
  @include cards--card_list;
  .account.-card {
    @include card;
  }
}

.accounts.-card_cloud {
  @include cards--card_cloud;
  .account.-card {
    @include card;
  }
}

.account__icon {
  @include icon;
}

