.calendar.-cells {
  display: flex;
  flex-flow: row wrap;
  .calendar.-cell {
    display: block;
    width: 14%;
    border-top: 1px solid $primary_text-lighter;
    border-left: 1px solid $primary_text-lighter;
    border-right: 1px solid $primary_text-light;
    border-bottom: 1px solid $primary_text-light;
    .date {
      background: $primary_bg-lighter;
      color: $primary_text-dark;
    }
    .event.-calendar {
      word-break: break-all;
      .entry {
        @include reset--font;
        color: $text-dark;
        font-size: $font-size-small;
        &:hover {
          background: $primary_bg-lighter;
          color: $text;
        }
      }
    }
  }
}
