.calendar__nav {
  background: $fill-dark;
  .current {
    @include button--panel;
  }
}

.calendar.-cells {
  display: flex;
  flex-flow: row wrap;
  .calendar.-cell {
    display: block;
    width: 14%;
    border-top: 1px solid $primary_text-lighter;
    border-left: 1px solid $primary_text-lighter;
    border-right: 1px solid $primary_text-light;
    border-bottom: 1px solid $primary_text-light;
    .date {
      background: $primary_bg-light;
      color: $primary_text-dark;
    }
    .event.-calendar {
      word-break: break-all;
      &.-attending {
        background: $positive_bg-light;
        color: $positive_text-light;
      }
      .entry {
        @include reset--font;
        font-size: $font-size-small;
        &:hover {
          background: $primary_bg-light;
          color: $text;
        }
        &.-resolution_moved {
          color: $text-lighter;
          &::before {
            content: '⚠️';
          }
        }
        &.-resolution_canceled {
          color: $text-lighter;
          &::before {
            content: '🛑';
          }
        }
        &.-resolution_completed {
          color: $text-lighter;
        }
      }
    }
  }
}
