.calendar__nav {
  padding-left: 1rem;
  background: $fill-dark;
  display: flex;
  gap: 0.5rem;
  .current {
    @include button--roundbox;
  }
}

.calendar.-cells {
  display: flex;
  flex-flow: row wrap;
  .calendar.-cell {
    display: block;
    width: 14%;
    border-top: 1px solid $primary_text-lighter;
    border-left: 1px solid $primary_text-lighter;
    border-right: 1px solid $primary_text-light;
    border-bottom: 1px solid $primary_text-light;
    .date {
      background: $primary_bg-light;
      color: $primary_text-dark;
    }
    &.-ended {
      background: $disabled_bg-light;
      .date {
        background: $primary_bg;
        color: $disabled_text-dark;
      }
    }
    .event.-calendar {
      @include reset--font;
      word-break: break-all;
      &.-attending {
        background: $positive_bg-light;
        color: $positive_text-light;
      }
      &.-resolution_scheduled {
        color: $text-lighter;
        &::before {
          content: '🗒';
        }
      }
      &.-resolution_announced {
        &::before {
          content: '▶️';
        }
      }
      &.-resolution_moved {
        background: $negative_fill-lighter;
        color: $negative_text;
        &::before {
          content: '⚠️';
        }
      }
      &.-resolution_canceled {
        background: $negative_fill;
        color: $negative_text;
        &::before {
          content: '🛑️';
        }
      }
      &.-resolution_ended {
        background: $disabled_bg-light;
        color: $disabled_text;
        &::before {
          content: '✅';
        }
      }
      &.-resolution_completed {
        background: $disabled_bg-light;
        color: $disabled_text;
        &::before {
          content: '📗';
        }
      }
      .entry {
        font-size: $font-size-small;
        &:hover {
          background: $primary_bg-light;
          color: $text;
        }
        &.-masked {
          font-style: oblique;
        }
      }
    }
  }
}
