.event.-table {
  @include keyvaluetable;
  .field {
    @include keyvaluetable__keyvalue;
    label {
      @include keyvaluetable__key;
    }
    .value {
      @include keyvaluetable__value;
    }
    .relation {
      @include keyvaluetable__relation;
    }
  }
}

.event.-strip {
  @include strip;
  .visibility {
    @include panel--small;
    color: $text-light;
  }
  .name {
    font-size: $font-size-larger;
  }
  .following_event {
    @include button--panel;
    color: $text-light;
  }
  .followers {
    margin: 0rem 0.5rem;
    color: $text-light;
   .label {
      color: $text-lighter;
    }
  }
  .fullname {
    color: $text-light;
  }
  .platform {
    @include panel--small;
    color: $text-light;
  }
  .organizer {
    font-size: $font-size-small;
    color: $text-lighter;
  }
  .hashtag {
    font-size: $font-size-small;
    color: $text-light;
  }
}

.event.-card {
  @include panel;
  .name {
    @include card__title;
  }
  .hashtag {
    font-size: $font-size-smaller;
    color: $text-lighter;
  }
  .start_at {
    @include card__text_link;
  }
  .following_event {
    @include button--panel;
    color: $text-light;
  }
}

.events.-card_cloud {
  @include cards--card_cloud;
  .event.-card {
    @include card;
  }
}

.events.-card_list {
  @include cards--card_list;
  .event--card {
    @include card;
  }
}

.event__icon {
  @include icon;
}

