.event_memory.-pretty {
  @include panel--roundbox;
  .published_at {
    vertical-align: bottom;
    color: $text-lighter;
  }
  .name {
    font-size: $font-size-large;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .started_at {
    color: $text-lighter;
  }
}

.event_memory.-table {
  @include keyvaluetable;
  .field {
    @include keyvaluetable__keyvalue;
    label {
      @include keyvaluetable__key;
    }
    .value {
      @include keyvaluetable__value;
    }
    .relation {
      @include keyvaluetable__relation;
    }
  }
}

.event_memory.-strip {
  @include strip;
  .primary_sns_name {
    display: inline;
    color: $text-lighter;
  }
  .display_name {
    display: inline;
    font-size: $font-size-large;
  }
}

.event_memory.-card {
  @include card;
  .display_name {
    @include card__title;
  }
  .platform {
    @include roundbox--small;
  }
}

.event_memories.-card_list {
  @include cards--card_list;
}

.event_memories.-card_cloud {
  @include cards--card_cloud;
}

.event_memory__icon {
  @include icon;
}

