.event_history.-table {
  @include keyvaluetable;
  .field {
    @include keyvaluetable__keyvalue;
    label {
      @include keyvaluetable__key;
    }
    .value {
      @include keyvaluetable__value;
    }
    .relation {
      @include keyvaluetable__relation;
    }
  }
}

.event_history.-strip {
  @include strip;
  .visibility {
    @include panel--small;
    color: $text-light;
  }
  .started_at {
    font-size: $font-size-large;
  }
  .attending_event {
    @include button--panel;
    color: $text-light;
  }
  .attendances {
    margin: 0rem 0.5rem;
    color: $text-light;
    .label {
      color: $text-lighter;
    }
  }
}

.event_history.-card {
  @include panel;
  .time_span  {
    font-size: $font-size-small;
    color: $text-light;
    .started_at {
      margin-left: 0.5em;
    }
  }
}

.event_histories.-card_list {
  @include cards--card_list;
  .event_history.-card {
    @include card;
  }
}

.event_histories.-card_cloud {
  @include cards--card_cloud;
  .event_history.-card {
    @include card;
  }
}
