.event.-table {
  @include keyvaluetable;
  .field {
    @include keyvaluetable__keyvalue;
    label {
      @include keyvaluetable__key;
    }
    .value {
      @include keyvaluetable__value;
    }
    .relation {
      @include keyvaluetable__relation;
    }
  }
}

.event.-calendar.-cells {
  display: flex;
  flex-flow: row wrap;
  .event.-calendar.-cell {
    display: block;
    width: 14%;
    border-top: 1px solid $primary_text-lighter;
    border-left: 1px solid $primary_text-lighter;
    border-right: 1px solid $primary_text-light;
    border-bottom: 1px solid $primary_text-light;
    .date {
      background: $primary_bg-lighter;
      color: $primary_text-dark;
    }
    .event.-cell {
      word-break: break-all;
      .entry {
        @include reset--font;
        color: $text-dark;
        font-size: $font-size-small;
        &:hover {
          background: $primary_bg-lighter;
          color: $text;
        }
      }
    }
  }
}

.event.-card {
  @include panel;
  .hashtag {
    font-size: $font-size-smaller;
    color: $text-lighter;
  }
  .start_at {
    color: $text-light;
  }
}

.events.-card_cloud {
  @include cards--card_cloud;
  .event.-card {
    @include card;
  }
}

.events.-card_list {
  @include cards--card_list;
  .event--card {
    @include card;
  }
}
