.event_history.-pretty {
  @include keyvaluetable;
  .field {
    @include keyvaluetable__keyvalue;
    label {
      @include keyvaluetable__key;
    }
    .value {
      @include keyvaluetable__value;
    }
    .relation {
      @include keyvaluetable__relation;
    }
  }
}

.event_history.-table {
  @include keyvaluetable;
  .field {
    @include keyvaluetable__keyvalue;
    label {
      @include keyvaluetable__key;
    }
    .value {
      @include keyvaluetable__value;
    }
    .relation {
      @include keyvaluetable__relation;
    }
  }
}

.event_history.-strip {
  @include strip;
  .started_at {
    font-size: $font-size-large;
  }
  .resolution {
    @include roundbox--small;
  }
  .attending_event {
    @include button--roundbox;
    color: $text-light;
  }
  .attendances {
    margin: 0rem 0.5rem;
    color: $text-light;
    .label {
      color: $text-lighter;
    }
  }
}

.event_history.-card {
  @include card;
  .resolution {
    @include roundbox--small;
  }
  .time_span  {
    @include card__title;
    .started_at, .sep, .ended_at {
      &::after {
        content: ' ';
      }
    }
  }
}

.event_histories.-card_list {
  @include cards--card_list;
}

.event_histories.-card_cloud {
  @include cards--card_cloud;
}
