.event_schedule--table {
  @include keyvaluetable;
  .field {
    @include keyvaluetable__keyvalue;
    label {
      @include keyvaluetable__key;
    }
    .value {
      @include keyvaluetable__value;
    }
  }
}

.event_schedule--card {
  @include panel;
  .start_at, .end_at  {
    font-size: $font-size-small;
    color: $text-light;
    margin: 0em 1em;
  }
}

.event_schedules--card_list {
  @include cards--card_list;
  .event_schedule--card {
    @include card;
  }
}

.event_schedules--card_cloud {
  @include cards--card_cloud;
  .event_schedule--card {
    @include card;
  }
}
