.user.-table {
  @include keyvaluetable;
  .field {
    @include keyvaluetable__keyvalue;
    label {
      @include keyvaluetable__key;
    }
    .value {
      @include keyvaluetable__value;
    }
    .relation {
      @include keyvaluetable__relation;
    }
  }
}

.user.-strip {
  @include strip;
  .email {
    display: inline;
    color: $text-lighter;
  }
  .display_name {
    display: inline;
    font-size: $font-size-larger;
  }
}

.user.-card {
  @include panel;
  .email {
    font-size: $font-size-smaller;
    color: $text-lighter;
  }
  .display_name {
  }
}

.users.-card_list {
  @include cards--card_list;
  .user.-card {
    @include card;
  }
}

.users.-card_cloud {
  @include cards--card_cloud;
  .user.-card {
    @include card;
  }
}

.user__icon {
  @include icon;
}

