- form ||= nil

- _params = filtered_params
- _params.merge!(form.params) if form
- _category_options = [['開催形態を選ぶ', nil]] + Category.available.map { |c| [c.emoji_name, c.slug] }

= form_with(url: _params, method: :get, class: '-inline') do |form|
  = form.select :category, _category_options, { selected: _params[:category] }, onchange: "javascript: this.form.submit();"
