- taste_params = filtered_params

= form_with(url: taste_params, method: :get) do |form|
  = form.select :taste, Enums::Taste.select_options, { selected: params[:taste] }, onchange: "javascript: this.form.submit();"
