= form_with(url: filtered_params, method: :get, class: '-inline') do |form|
  = form.select :taste, Enums::Taste.select_options, { selected: params[:taste] }, onchange: "javascript: this.form.submit();"
