- trust_options = [['情報源を選ぶ', nil], ['公式告知', :owner], ['全ての情報', :all]]

= form_with(url: filtered_params, method: :get, class: '-inline') do |form|
  = form.select :trust, trust_options, { selected: params[:trust] }, onchange: "javascript: this.form.submit();"
