- form ||= nil

- _params = filtered_params
- _params.merge!(form.params) if form
- _trust_options = [['公式告知', :owner], ['全ての情報', :all]]

= form_with(url: _params, method: :get, class: '-inline') do |form|
  = form.select :trust, _trust_options, { selected: _params[:trust] }, onchange: "javascript: this.form.submit();"
