@mixin reset--list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

@mixin reset--font {
  text-decoration: none;
  appearance: none;
}

h6, h5, h4, h3, h2, h1, address {
  margin-bottom: 0;
}
