h1 = User.model_name.human

= render 'strip', user: @user

= render 'users/event_filter', form: @form

h2 = User.human_attribute_name(@form.events_field)

.panel
  = render 'events/cards', events: @events, card_cloud: true
.panel
  = paginate @events

- set_meta_for(@user, User.human_attribute_name(@form.events_field))
