h1 = "#{User.model_name.human}詳細"

= render 'strip', user: @user

= render 'calendar/calendar', calendar: @calendar, form: @form

= render 'pretty', user: @user

h2 = EventMemory.model_name.human

- EventMemory.where(user: @user).recent.each do |event_memory|
  = render 'event_memories/pretty', event_memory: event_memory

- set_meta_for(@user)
