version: '3.9'

services:
  app:
    environment:
      VCHE_SUPPORT_EMAIL: support@example.com
      VCHE_SUPPORT_GITHUB: https://example.com/github
      VCHE_SUPPORT_TWITTER: https://example.com/twitter
      VCHE_SUPPORT_DISCORD: https://example.com/discord
      VCHE_TWITTER_KEY: ''
      VCHE_TWITTER_SECRET: ''
      VCHE_TWITTER_CALLBACK_URL: ''
