h1 = "#{EventSchedule.model_name.human}を編集する"

= render 'events/strip', event: @event, user: @user

= render 'form', event: @event, event_schedule: @event_schedule

.panel
  = link_to '戻る', [@event, @event_schedule], class: 'button'
