h1 = EventSchedule.model_name.human

= render 'events/strip', event: @event, user: @user

= render 'cards', event: @event, event_schedules: @event_schedules, edit: false, card_cloud: true

= link_to 'New', new_event_event_schedule_path(@event), class: 'button'
