h1 = "#{EventHistory.model_name.human}を日程変更する"

= render 'events/strip', event: @event, user: @user

= render 'event_histories/strip', event: @event, event_history: @event_history, user: @user

= render 'help'

.panel.-roundbox
  = render 'form', event: @event, event_history: @event_history

.panel
  = link_to '戻る', [@event, @event_history], class: 'button'


- set_meta_title_for(@event.name, "#{EventHistory.model_name.human}を日程変更する")
