.inline.-category,
.inline.-flavor,
.inline.-platform,
.inline.-visibility,
.inline.-resolution {
  @include roundbox--small;
  color: $text-light;
}

.inline.-positive {
  color: $positive_text;
}

.inline.-negative {
  color: $negative_text;
}
