$font-size-smaller: 0.6rem;
$font-size-small: 0.8rem;
$font-size: 1rem;
$font-size-large: 1.4rem;
$font-size-larger: 2rem;

$text-darker: #000000;
$text-dark: #222222;
$text: #333333;
$text-light: #555555;
$text-lighter: #778877;
$fill: #f9fbf9;
$fill-light: #fcfdfc;
$fill-lighter: #ffffff;

$primary_text-darker: #004400;
$primary_text-dark: #225522;
$primary_text: #336633;
$primary_text-light: #339933;
$primary_text-lighter: #33cc33;
$primary_bg: #99cc99;
$primary_bg-light: #cceecc;
$primary_bg-lighter: #ddffdd;

$positive_text: #333311;
$positive_text-lighter: #33cc11;
$positive_bg: #99cc44;
$positive_bg-light: #ccee66;
$positive_bg-lighter: #ddff77;

$negative_text: #663333;
$negative_bg: #ff6666;
$negative_fill: #fcf6f6;
$negative_fill-light: #fcf9f9;
$negative_fill-lighter: #fffcfc;

$disabled_text: #777777;
$disabled_bg: #dddddd;
