$font-size-smaller: 0.6rem;
$font-size-small: 0.8rem;
$font-size: 1rem;
$font-size-large: 1.4rem;
$font-size-larger: 2rem;

$text-darker: #000000;
$text-dark: #222222;
$text: #333333;
$text-light: #555555;
$text-lighter: #778877;
$fill-dark: #f0f7f0;
$fill: #f9fbf9;
$fill-light: #fcfdfc;
$fill-lighter: #ffffff;

$_primary_hue: 115;
$_secondary_hue: 25;
$_tertiary_hue: 175;

$primary_text-darker: hsl($_primary_hue, 100%, 10%);
$primary_text-dark: hsl($_primary_hue, 50%, 20%);
$primary_text: hsl($_primary_hue, 15%, 30%);
$primary_text-light: hsl($_primary_hue, 20%, 50%);
$primary_text-lighter: hsl($_primary_hue, 25%, 70%);
$primary_bg-dark: hsl($_primary_hue, 40%, 76%);
$primary_bg: hsl($_primary_hue, 50%, 83%);
$primary_bg-light: hsl($_primary_hue, 50%, 90%);

$positive_text: hsl($_primary_hue, 85%, 20%);
$positive_text-light: hsl($_primary_hue, 85%, 30%);
$positive_text-lighter: hsl($_primary_hue, 85%, 50%);
$positive_bg: hsl($_primary_hue, 90%, 50%);
$positive_bg-light: hsl($_primary_hue, 100%, 65%);
$positive_bg-lighter: hsl($_primary_hue, 100%, 80%);

$negative_text: hsl($_secondary_hue, 85%, 20%);
$negative_text-light: hsl($_secondary_hue, 85%, 30%);
$negative_text-lighter: hsl($_secondary_hue, 85%, 50%);
$negative_bg: hsl($_secondary_hue, 80%, 50%);
$negative_bg-light: hsl($_secondary_hue, 100%, 65%);
$negative_bg-lighter: hsl($_secondary_hue, 100%, 80%);
$negative_fill: #fcf6f6;
$negative_fill-light: #fcf9f9;
$negative_fill-lighter: #fffcfc;

$external_text: hsl($_tertiary_hue, 15%, 30%);
$external_text-lighter: hsl($_tertiary_hue, 25%, 70%);
$external_bg: hsl($_tertiary_hue, 50%, 83%);
$external_bg-light: hsl($_tertiary_hue, 50%, 90%);

$disabled_text-dark: #444444;
$disabled_text: #777777;
$disabled_bg: #dddddd;
$disabled_bg-light: #eeeeee;
