@import '_vche_variables';
@import '_vche_mixins';

body {
  background: $fill;
}

h1 {
  color: $primary_text-light;
  background: $primary_bg-light;
}

header {
  nav {
    @include font--large;
    background: $primary_bg;
    ul {
      display: inline-block;
      @include reset--list;
      li {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
        a {}
      }
    }
    .header__username {
      @include font--medium;
      color: $text-lighter
    }
  }
}

#notice {
  background: $primary_bg-lighter;
  margin: 0px;
}

#alert {
  background: $primary_bg-light;
  margin: 0px;
}

a {
  @include button;
}

a+a {
  margin-left: 1em;
}
input[type="submit"] {
  @include button;
  margin-left: 200px;
}

form {
  @include keyvaluechart;
  .field {
    @include keyvaluechart__keyvalue;
    label {
      @include keyvaluechart__key;
    }
    input, select {
      @include keyvaluechart__value;
    }
    .field_with_errors {
      display: inline-block;
    }
  }
}

.user {
  @include keyvaluechart;
  .field {
    @include keyvaluechart__keyvalue;
    label {
      @include keyvaluechart__key;
    }
    .value {
      @include keyvaluechart__value;
    }
  }
}
