@mixin font--medium {
  font-size: 1rem;
}

@mixin font--large {
  font-size: 1.4rem;
}

@mixin font--larger {
  font-size: 2rem;
}

@mixin button {
  @include reset--font;
  display: inline-block;
  background: $primary_bg-light;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 2em;
  color: $primary_text;
  &:hover {
    background: $primary_bg-lighter;
    color: $primary_text-lighter;
  }
}

@mixin reset--list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

@mixin reset--font {
  text-decoration: none;
  appearance: none;
}

@mixin keyvaluechart {
  margin: 1rem;
  padding: 1rem;
  border-radius: 2em;
  border: $primary_bg solid 1px;
}

@mixin keyvaluechart__keyvalue {
  margin: 1rem 0px;
}

@mixin keyvaluechart__key {
  display: inline-block;
  width: 200px;
  padding-right: 1rem;
  text-align: right;
  vertical-align: middle;
}

@mixin keyvaluechart__value {
  display: inline-block;
  vertical-align: middle;
  word-break: break-all;
  width: 400px;
  padding: 0.5em 1.5em;
  border-radius: 2em;
  border: $primary_bg solid 1px;
  background: $fill-light;
  &:hover {
    background: $fill-lighter;
  }
}

