@import '_variables';

@import 'mixins/_reset';

@import 'components/_button';
@import 'components/_card';
@import 'components/_editor_fields';
@import 'components/_icon';
@import 'components/_keyvaluetable';
@import 'components/_link';
@import 'components/_panel';
@import 'components/_roster';
@import 'components/_strip';

@import 'models/_account';
@import 'models/_calendar';
@import 'models/_event';
@import 'models/_event_attendance';
@import 'models/_event_follow';
@import 'models/_event_history';
@import 'models/_event_schedule';
@import 'models/_flavor';
@import 'models/_user';

@import '_inline';

body {
  background: $fill;
}

h1, h2 {
  color: $primary_text-light;
  background: $primary_bg;
}

header {
  nav {
    background: $primary_bg-dark;
    ul {
      @include reset--list;
      display: inline-block;
      padding: 0.4rem;
      li {
        display: inline-block;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
        a.logo {
          @include reset--font;
          color: $primary_text-darker;
          font-size: $font-size-large;
        }
        a.header__username {
          @include reset--font;
          display: inline-block;
          background: $primary_bg-dark;
          border: none;
          margin: 0em -0.5em;
          padding: 0.5em 1em;
          border-radius: 2em;
          font-size: $font-size;
          color: $text-lighter;
          &:hover {
            background: $primary_bg;
            color: $text-lighter;
          }
        }
      }
    }
  }
}

#notice {
  background: $primary_bg-light;
  margin: 0px;
}

#alert {
  background: $primary_bg;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

.link {
  @include link;
}

.strip__title {
  @include strip__title;
}

.button {
  @include button;
}

.button--positive {
  @include button--positive;
}

.button--selected {
  @include button--selected;
}

.button--disabled {
  @include button--disabled;
}

.panel {
  @include panel;
}

form.-table {
  @include keyvaluetable;
  > .field {
    @include keyvaluetable__keyvalue;
    > label {
      @include keyvaluetable__key;
    }
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    select, textarea {
      @include keyvaluetable__value;
    }
    > .field_with_errors {
      display: inline-block;
      > label {
        @include keyvaluetable__key;
        color: $negative_text;
      }
      input[type="text"],
      input[type="password"],
      input[type="datetime"],
      select, textarea {
        border: $negative_bg solid 2px;
        background: $negative_fill-light;
        &:hover {
          background: $negative_fill-lighter;
        }
      }
    }
    .relation {
      @include keyvaluetable__relation;
      label {
        display: block;
      }
    }
  }
  input[type="submit"] {
    @include button--positive;
    margin-left: 200px;
  }
}

form.-inline {
  display: inline;
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  select, textarea {
    @include keyvaluetable__value;
    width: inherit;
  }
  > input[type="submit"] {
    @include button--positive;
  }
}
