h1 = "#{Event.model_name.human}を編集する"

= render 'form', event: @event, owner: nil

.panel
  = link_to '戻る', @event, class: 'button'

- set_meta_title_for(@event.name, "#{Event.model_name.human}を編集する")
