h1 = "#{Event.model_name.human}詳細"

= render 'strip', event: @event, user: @user

= render 'calendar/calendar', calendar: @calendar

= render 'pretty', event: @event

= render 'hashtags/event_cards', hashtag: @event.hashtag
