h1 = "#{Event.model_name.human}の#{Event.human_attribute_name(:visibility)}を編集する"

= render 'events/strip', event: @event, user: @user

= render 'help', new: false

= render 'form', event: @event

.panel
  = link_to '戻る', @event, class: 'button'

- set_meta_title_for(@event.name, "#{Event.human_attribute_name(:visibility)}を編集する")
