h1 = "#{Event.model_name.human}を#{Event.human_attribute_name(:visibility)}を編集する"

= render 'events/strip', event: @event, user: @user

= render 'help'

= render 'form', event: @event

.panel
  = link_to '戻る', @event, class: 'button'
